* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #FFFFFF;
}

body {
    width: 100%;
}

#container {
    background: url(./Assets/background.jpeg);
    padding-bottom: 180px;
}

#logo-netflix {
    cursor: pointer;
    width: 133px;
}

#botao-entrar {
    background-color: #E50815;
    border: none;
    font-size: 16px;
    padding: 8px 18px 8px;
    border-radius: 3px;
    float: right;
    cursor: pointer;
}

#botao-entrar:hover {
    opacity: 0.7;
}

#cabecalho {
    padding: 28px 56px;
}

h1 {
    text-align: center;
    font-size: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    font-weight: 500;
}

#paragrafo-assista {
    text-align: center;
    font-size: 26px;
    margin-top: 15px;
    font-weight: 100;
}

#paragrafo-pronto {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 200;
}

input {
    width: 450px;
    padding-left: 10px;
    font-size: 15px;
    border: #303030;
    height: 60px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

#botao-email {
    width: 180px;
    background-color: #E50815;
    border: #303030;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 300;
    height: 60px;
}

#botao-email:hover {
    opacity: 0.7;
}

#formulario {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 60px;
}

#rodape {
    background-color: #000000;
    border-top: 10px solid #303030;
    padding: 70px 0;
    padding-bottom: 200px;
}

h2 {
    font-size: 40px;
    text-align: center;
}

#botao-pergunta {
    width: 700px;
    background-color: #303030;
    border: none;
    height: 70px;
    font-size: 20px;
    margin-top: 40px;
    text-align: left;
    padding: 0 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: block;
}

#imagem-pergunta {
    float: right;
    margin-top: 5px;
    cursor: pointer;
    transform: rotate(45deg);
}

#imagem-pergunta-girar {
    float: right;
    margin-top: 5px;
    cursor: pointer;
    transform: rotate(90deg);
}

#pergunta {
    width: 700px;
    background-color: #303030;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px;
    margin-top: 2px;
    font-size: 2 0px;
    display: none;
}


@media (max-width: 740px) {
    h1 {
        font-size: 35px;
        width: 90%;
    }

    #paragrafo-assista {
        font-size: 22px;
    }

    #paragrafo-pronto {
        font-size: 18px;
    }

    input {
        width: 370px;
        margin-top: 30px;
    }

    #botao-email {
        width: 170px;
        font-size: 20px;
        margin-top: 30px;
    }

    #img-botao {
        padding-left: 10px;
    }

    h2 {
        font-size: 25px;
    }

    #botao-pergunta,
    #pergunta {
        width: 600px;
    }
}

@media (max-width: 640px) {
    #logo-netflix {
        margin-top: 30px;
    }

    #botao-entrar {
        margin-top: 30px;
    }

    h1 {
        width: 80%;
    }

    #paragrafo-pronto {
        width: 100%;
        font-size: 16px;
    }

    #botao-pergunta,
    #pergunta {
        width: 550px;
    }
}

@media (max-width: 580px) {

    #botao-entrar,
    #logo-netflix {
        margin-top: 15px;
    }

    #botao-pergunta,
    #pergunta {
        width: 500px;
    }
}

@media (max-width: 525px) {
    h1 {
        width: 90%;
    }

    #paragrafo-assista {
        font-size: 20px;
        margin-top: 35px;
    }

    #paragrafo-pronto {
        font-size: 20px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    input {
        width: 315px;
    }

    #botao-email {
        width: 150px;
    }

    #botao-pergunta,
    #pergunta {
        width: 450px;
    }
}

@media (max-width: 414px) {
    #logo-netflix{
        margin: 20px auto auto -20px;
    }
    #botao-entrar{
        margin: 20px -20px auto auto;
    }
    #paragrafo-assista {
        font-size: 18px;
    }

    #paragrafo-pronto {
        font-size: 18px;
    }

    #email {
        width: 250px;
        height: 50px;
    }

    #botao-email {
        width: 130px;
        height: 50px;
        font-size: 20px;
    }

    #botao-pergunta {
        width: 380px;
        height: 50px;
    }

    #imagem-pergunta {
        width: 15px;
    }
}

@media (max-width: 390px) {
    #logo-netflix {
        margin: 20px 50px auto -30px;
    }

    #botao-entrar {
        margin: 20px -25px auto auto;
    }

    #email {
        width: 230px;
    }

    #botao-email {
        width: 120px;
        font-size: 17px;
    }

    #img-botao {
        width: 15px;
    }

    #botao-pergunta {
        width: 350px;
    }
}

@media (max-width: 360px) {
    h1 {
        font-size: 30px;
        width: 100%;
    }

    #paragrafo-assista {
        width: 100%;
    }

    #paragrafo-pronto {
        font-size: 18px;
        width: 95%;
        margin: 30px auto;
    }
    #email{
        width: 220px;
    }
    #botao-email{
        width: 110px;
    }
    #botao-pergunta{
        width: 330px;
    }
}